<div class="recipe-div">
    <div *ngFor="let favorite of favorites; index as i" class="recipe-results">
        <img src="{{ favorite.recipe.image }}">
        <p class="recipeTitle">{{ favorite.recipe.label }}</p>
        <p>Calories: {{ favorite.recipe.calories.toFixed(0) }}</p>
        <p>Total Time: {{ favorite.recipe.totalTime }}</p>
        <p>Serves: {{ favorite.recipe.yield }}</p>
        <p>Tags: {{ favorite.recipe.healthLabels }}</p>
        <p>Source: {{ favorite.recipe.source }}</p>

        <a [routerLink]="['/recipe', i]">More Information</a>

        <a href="{{ favorite.recipe.url }}" target="_blank">View Full Recipe</a>

        <button (click)="deleteFavorite(i)" class="delete-class"><i class="material-icons">delete</i></button>

    </div>
</div>