<form #recipeForm="ngForm" (ngSubmit)="searchRecipe(recipeForm)">
  <label for="">SEARCH For Keyword</label>
  <input type="text" ngModel name="userSearch">
  <label for="">SEARCH by health label</label>
  <input type="text" ngModel name="dietSearch">
  <label for="">SEARCH by Max Calories</label>
  <input type="text" ngModel name="calorieSearch">
  <button>Search</button>
</form>

<!-- <form #dietaryForm="ngForm" (ngSubmit)="searchLabel(dietaryForm)">
  <label for="">SEARCH by health label</label>
  <input type="text" ngModel name="dietSearch">
  <button>Search</button>
</form> -->

<!-- <form #calorieForm="ngForm" (ngSubmit)="searchCalories(calorieForm)">
  <label for="">SEARCH by Max Calories</label>
  <input type="text" ngModel name="calorieSearch">
  <button>Search</button>
</form> -->


<div *ngFor="let result of results">

  <img src= "{{ result.recipe.image }}" >
  <p>Title: {{ result.recipe.label }}</p>
  <p>Calories: {{ result.recipe.calories }}</p>
  <p>Tags: {{ result.recipe.healthLabels }}</p>

</div>


<recipe-list></recipe-list>

<favorites-page></favorites-page>