<div class="form">
    <form #recipeForm="ngForm" (ngSubmit)="searchRecipe(recipeForm)">
        <label for="">Search by keyword:</label>
        <input type="text" ngModel name="userSearch" />

        <!-- <input type="text" ngModel name="dietSearch" /> -->

        <label for="">Search by health label:</label>
        <select (change)="selectDiet($event)">
      <option value="">Choose</option>
      <option value="vegan">Vegan</option>
      <option value="vegetarian">Vegetarian</option>
      <option value="gluten-free">Gluten-Free</option>
      <option value="low-sugar">Low-Sugar</option>
      <option value="peanut-free">Peanut-Free</option>
    </select>

        <!-- <input type="text" ngModel name="calorieSearch" /> -->

        <label for="">Search by calories per serving:</label>
        <select (change)="selectCalories($event)">
      <option value="">Choose</option>
      <option value="100-300">100-300</option>
      <option value="300-500">300-500</option>
      <option value="500-800">500-800</option>
    </select>

        <button class="search-button">Search</button>
    </form>
</div>

<!-- <form #dietaryForm="ngForm" (ngSubmit)="searchLabel(dietaryForm)">
  <label for="">SEARCH by health label</label>
  <input type="text" ngModel name="dietSearch">
  <button>Search</button>
</form> -->

<!-- <form #calorieForm="ngForm" (ngSubmit)="searchCalories(calorieForm)">
  <label for="">SEARCH by Max Calories</label>
  <input type="text" ngModel name="calorieSearch">
  <button>Search</button>
</form> -->

<div class="recipe-div">
    <div *ngFor="let result of results; index as i" class="recipe-results">
        <img src="{{ result.recipe.image }}">
        <p class="recipeTitle">{{ result.recipe.label }}</p>
        <p>Calories: {{ result.recipe.calories.toFixed(0) }}</p>
        <p>Tags: {{ result.recipe.healthLabels }}</p>
        <!-- <a href="">More Information</a>
  above goes through route to plain recipe page -->
        <!-- <a [routerLink]="['/recipe', i]">More Information</a> -->

        <a href="{{ result.recipe.url }}" target="_blank">View Full Recipe</a>
        <button (click)="addFavorite(result, i)" class="favorite-class"><i class="material-icons" [ngClass]="{'favorite': result.favorited}">favorite</i></button>
        <!-- above goes through route to favorites page -->
    </div>
</div>

<!-- <recipe-list></recipe-list> -->

<!-- <favorites-page></favorites-page> -->