.form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(179, 178, 176, 0.4);
    padding: 40px 100px;
    margin: 60px;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

label {
    font-size: 20px;
}

input,
select {
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.search-button {
    height: 50px;
    background-color: rgb(56, 12, 29);
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.recipe-div {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 178, 176, 0.4);
    width: 350px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

p {
    color: white;
    font-size: 16px;
    margin: 2px;
}

.material-icons {
    font-size: 50px;
    color: white;
}

.favorite-class {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 25px;
}

.recipeTitle {
    font-size: 24px;
    margin-top: 16px;
}

a,
a:visited {
    color: white;
    margin-top: 8px;
}

.favorite {
    color: rgb(56, 12, 29);
}