<div class="form">
<form #recipeForm="ngForm" (ngSubmit)="searchRecipe(recipeForm)">
  <label for="">Search by keyword:</label>
  <input type="text" ngModel name="userSearch">
  <label for="">Search by health label:</label>
  <input type="text" ngModel name="dietSearch">
  <label for="">Search by max calories:</label>
  <input type="text" ngModel name="calorieSearch">
  <button class="search-button">Search</button>
</form>
</div>

<!-- <form #dietaryForm="ngForm" (ngSubmit)="searchLabel(dietaryForm)">
  <label for="">SEARCH by health label</label>
  <input type="text" ngModel name="dietSearch">
  <button>Search</button>
</form> -->

<!-- <form #calorieForm="ngForm" (ngSubmit)="searchCalories(calorieForm)">
  <label for="">SEARCH by Max Calories</label>
  <input type="text" ngModel name="calorieSearch">
  <button>Search</button>
</form> -->

<div class="recipe-div">
<div *ngFor="let result of results" class="recipe-results">
  <img src= "{{ result.recipe.image }}">
  <p>Title: {{ result.recipe.label }}</p>
  <p>Calories: {{ result.recipe.calories }}</p>
  <p>Tags: {{ result.recipe.healthLabels }}</p>
  <a href="">More Information</a>
  <!-- above goes through route to plain recipe page -->
  <a href="{{ result.recipe.url }}" target="_blank">View Full Recipe</a>
  <button (click)="addFavorite()" class="favorite-class"><i class="material-icons">favorite</i></button>
  <!-- above goes through route to favorites page -->
</div>
</div>

<!-- <recipe-list></recipe-list> -->

<!-- <favorites-page></favorites-page> -->